{
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs":false,
    "semicolons": true,
    "quoteProps": "as-needed",    
    "printWidth": 70,
    "bracketSpacing": true,
    "arrowParens":"always",
    "trailingComma":"all",
}
