@media(min-height: 400px) {
  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 5%;
    color: #000000;
  }

  .titleFontLeft {    
    color: #830106;
    font-size: 40px;
    font-family: 'Sail', cursive;
    line-height: 0px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 40px;
    font-family: 'Sail', cursive;
    line-height: 30px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 15px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}

@media(min-height: 650px) {

  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 5%;
    color: #000000;
  }

  .titleFontLeft {    
    color: #830106;
    font-size: 60px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }
  .titleFontRight {    
    color: #830106;
    font-size: 60px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 20px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}


@media(min-height: 800px) {

  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 5%;
    color: #000000;
  }

  .titleFontLeft {    
    color: #830106;
    font-size: 60px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 60px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 24px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}

@media(min-height: 900px) {

  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 20%;
    color: #000000;
  }

  .titleFontLeft {    
    color: #830106;
    font-size: 70px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 70px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 30%;
  }

  .bodyFont {    
    font-size: 24px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}


@media(min-height: 950px) {
  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 20%;
    color: #000000;
  }
  .titleFontLeft {    
    color: #830106;
    font-size: 80px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 80px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 28px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}

@media(min-height: 1100px) {
  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 20%;
    color: #000000;
  }
  .titleFontLeft {    
    color: #830106;
    font-size: 85px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 85px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 28px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}

@media(min-height: 1300px) {
  .page {
    background-color: rgba(0,0,0,0);
    width: 90%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
    position: relative;
    margin-left: 0px;
    margin-top: 25%;
    color: #000000;
  }
  .titleFontLeft {    
    color: #830106;
    font-size: 90px;
    font-family: 'Sail', cursive;
    line-height: 10px;
    text-align: left;
    margin-left: 20%;
  }

  .titleFontRight {    
    color: #830106;
    font-size: 90px;
    font-family: 'Sail', cursive;
    line-height: 20px;
    text-align: center;
    margin-left: 20%;
  }

  .bodyFont {    
    font-size: 28px;
    color: #000000;
    font-family: 'Arial', sans-serif;
  }
}

.questionBody {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.image {
  width: 40%;
  position: relative;
  border: double 20px #830106;
  display: block;
  margin: auto;
  margin-top: 10%;
}

.imageContainer {    
  display: contents;
  position: relative;
  margin: auto auto;
  text-align: center;
  width: 50%;
}

.borderContainer {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  margin-top: 10%;
  margin-left: auto;
  text-align: center;
}